<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>

<%= render(Projects::Settings::LifeCycleSteps::TableControlsComponent.new) do |_controls| %>
  <div class="generic-table--container <%= container_class %>" data-test-selector="<%= test_selector %>">
    <div class="generic-table--results-container">
      <table class="generic-table" data-controller="table-highlighting">
        <colgroup>
          <% columns.each do %>
            <col>
          <% end %>
        </colgroup>
        <thead>
          <tr>
            <% columns.each do |column| %>
              <th>
                <div class="generic-table--sort-header-outer">
                  <div class="generic-table--sort-header">
                    <span>
                      <%=
                        if column == :active
                          render(Primer::Alpha::ActionMenu.new(menu_id: "menu-#{column}")) do |menu|
                            helpers.action_button(menu, column, header_caption(column))

                            menu.with_item(
                              label: t("projects.settings.actions.label_activate_all"),
                              tag: :a,
                              href: enable_all_project_settings_life_cycle_steps_path(project_id: project),
                              "aria-label": t("projects.settings.actions.label_activate_all"),
                              content_arguments: {
                                data: {
                                  "turbo-method": :post,
                                  test_selector: "activate-all-life-cycle-steps",
                                  "projects--settings--border-box-filter-target": "disableWhenFiltering"
                                }
                              }
                            ) do |item|
                              item.with_leading_visual_icon(icon: :check)
                            end

                            menu.with_item(
                              label: t("projects.settings.actions.label_deactivate_all"),
                              tag: :a,
                              href: disable_all_project_settings_life_cycle_steps_path(project_id: project),
                              "aria-label": t("projects.settings.actions.label_deactivate_all"),
                              content_arguments: {
                                data: {
                                  "turbo-method": :post,
                                  test_selector: "deactivate-all-life-cycle-steps",
                                  "projects--settings--border-box-filter-target": "disableWhenFiltering"
                                }
                              }
                            ) do |item|
                              item.with_leading_visual_icon(icon: :x)
                            end
                          end
                        else
                          header_caption(column)
                        end
                      %>
                    </span>
                  </div>
                </div>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% if rows.empty? %>
            <tr class="generic-table--empty-row">
              <td colspan="<%= headers.length + 1 %>"><%= empty_row_message %></td>
            </tr>
          <% else %>
            <%= render_collection rows %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
