<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>

<%= form_for [@project, @proposal],
             url: (@proposal.new_record? ?
                     project_portfolio_management_proposals_path(@project) :
                     project_portfolio_management_proposal_path(@project, @proposal)),
             html: { class: 'form' } do |f| %>

  <%= error_messages_for @proposal %>

  <section class="form--section">
    <div class="form--field -required">
      <%= f.label :name, class: 'form--label' %>
      <div class="form--field-container">
        <%= f.text_field :name, required: true, container_class: '-middle' %>
      </div>
    </div>

    <div class="form--field">
      <%= f.label :description, class: 'form--label' %>
      <div class="form--field-container">
        <%= f.text_area :description, rows: 5, class: 'form--text-area' %>
      </div>
    </div>

    <div class="form--field">
      <%= f.label :state, class: 'form--label' %>
      <div class="form--field-container">
        <%= f.select :state,
                    PortfolioProposal.states.keys.map { |s| [t("portfolio_proposals.states.#{s}"), s] },
                    {},
                    { class: 'form--select' } %>
      </div>
    </div>

    <div class="form--field">
      <%= f.label :project_ids, t(:label_projects), class: 'form--label' %>
      <div class="form--field-container">
        <%= f.select :project_ids,
                    Project.where(project_type: :project).map { |p| [p.name, p.id] },
                    { include_blank: true },
                    { multiple: true, class: 'form--select' } %>
        <div class="form--field-instructions">
          <%= t(:text_select_projects_for_proposal) %>
        </div>
      </div>
    </div>
  </section>

  <div class="form--space"></div>

  <div class="button-container">
    <%= f.submit t(@proposal.new_record? ? :button_create : :button_save), class: 'button -highlight' %>
    <%= link_to t(:button_cancel),
                (@proposal.new_record? ?
                   project_portfolio_management_proposals_path(@project) :
                   project_portfolio_management_proposal_path(@project, @proposal)),
                class: 'button' %>
  </div>
<% end %>
